<!DOCTYPE html>
<html>
    <head>
		<meta charset="utf-8">
		<meta name="description" content="A framework for learn at home elementary school students">
		<meta name="keywords" content="elementary school, home school">
		<meta name="author" content="team 3">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>StuDash| welcome</title>
		<link rel="stylesheet" href= "./css/style.css">
    </head>
    <body>
		<header>
			<div class="container">
				<div id="logo">
				{% load static %}
				<img src="{% static "homepage/logo.jpg" %}" alt="My image">
				</div>
				<nav>
					<ul>
					<li><a href="Feature.html.">Feature</a></li>
					<li><a href="index.html.">About us</a></li>
					<li><a href="index.html.">Home</a></li>
				</nav>
			</div>
		</header>
		<section id="welcome">
			<div class="container">
				<h1>Hello there!</h1>
				<h2>Good to have you back:)</h2>
				<p>With StuDash home schooling doesn't seem like a big deal anymore</p>
			</div>
		</section>
		<footer>
		<p>all rights reserved</p>
		</footer>
</html>

